/*
.parent {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container1 {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 0;
  grid-row-end: 1;
  background-color: aqua;
}
.container2 {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: aqua;
}
.container3 {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: aqua;
}
.container4 {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: aqua;
}

.menu {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 0;
  grid-row-end: 5;
  border-style: dashed;
  border-color: black;
  background-color: black;
}
*/

/* Reset default browser styles */

/* Reset default browser styles */

body,
ul {
  margin: 0;
  padding: 0;
}

/* Container Styles */
.container {
  display: flex;
}

/* Sidebar Styles */
.sidebar {
  background-color: #333;
  color: #fff;
  width: fit-content;
  height: auto;
  padding: 12px;
  box-sizing: content-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

/* Content Styles */
.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  color: #333;
  font-family: "Courier New", Courier, monospace;
}

.content p {
  color: #777;
}

/* .button {
  width: 170px;
  text-align: center;
  vertical-align: baseline;
  padding: 2px;
  margin-left: 1px;
}
*/
