/* 

body,
ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: fit-content;
  height: auto;
  padding: 12px;
  box-sizing: content-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  color: #333;
  font-family: "Courier New", Courier, monospace;
}

.content p {
  color: #777;
}

.button {
  width: 170px;
  text-align: center;
  vertical-align: baseline;
  padding: 2px;
  margin-left: 1px;
}
*/
