/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  border-bottom: 2px dotted #a79b9b;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chartjs-hidden-iframe {
  display: none;
}

.chart-container {
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

#myChart {
  width: 100%;
  height: 100%;
}

/* Custom styling */
.chart-legend {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.chart-legend-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.chart-legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.chart-legend-label {
  font-size: 14px;
}

ul {
  list-style: none;
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

.link-button {
  display: block;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}
.styled-link {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  background-color: lightblue;
}

#myChart {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  aspect-ratio: 1/1; /* Dies setzt das Seitenverhältnis des Diagramms auf 1:1 (gleich hoch und breit) */
}
